<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<style>
            body {font-family: Arial, Helvetica, sans-serif;}
            * {box-sizing: border-box;}

            /* Button used to open the contact form - fixed at the bottom of the page */
            .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            /* position: fixed;
            bottom: 23px; */
            right: 28px;
            width: 280px;
            }

            /* The popup form - hidden by default */
            .form-popup {
            /*display: none; */
            /*margin-right: 40%;
            margin-bottom: 1%;  */
            margin-left: 35%;
            position: fixed; 
            
            border: 3px solid #f1f1f1;
            z-index: 9;
            }

            /* Add styles to the form container */
            .form-container {
            max-width: 400px;
            padding: 10px;
            background-color: white;
            }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            }

            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
            }

            /* Set a style for the submit/login button */
            .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom:10px;
            opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
            background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
            opacity: 1;
            }

            #gender {
                width: 100%;
                padding: 3%
            }

            .not_input { 
                margin-top: 1%;
                font-size: small;
                background-color:rgb(199, 199, 199);
                padding: 3%;
                padding-left: 6%;
            }
</style>
<body>
    <div class="form-popup" id="myForm">
        <form method="POST" action="/change-password" autocomplete="off" class="form-container">
            <h2>Change Password</h2>

            <label for="password">New Password</label>
            <input type="text" name="password" id="password" required/>
            <label for="curpass">Confirm Password</label>
            <input type="text" name="confirm" id="confirm" required/>

            <button type="submit" class="btn" onclick="myFunction()">Confirm</button>
            {{!-- <button type="button" class="btn cancel" onclick="closeForm()">Close</button> --}}
        </form>
    </div>
</body>
<script>
    function myFunction() {
        if(document.getElementById("password").value !== document.getElementById("confirm").value){
            alert('Password Validation error')
            document.getElementById("password").value = ''
            document.getElementById("confirm").value = ''
        }
    }
</script>
</html>