<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <form method="POST" action="/forgot-password">
        <label for="email_id">E-mail:</label>
        <input type="text" id="email_id" name="email_id" required>
        <button type="submit" onclick="myFunction()">Send OTP</button>
    </form>
    <form method="POST" action="/check-otp">
        <input type="hidden" name="email" id="email" >
        <label for="otp">OTP:</label>
        <input type="text" id="otp" name="otp" required>
        <button type="submit" class="otp-submit" id="otp-submit">Verify</button>
    </form>
</body>
<style>
    .otp-submit {
        display: none;
    }
</style>
<script>
    function myFunction() {
        document.getElementById("email").value = document.getElementById("email_id").value;
        document.getElementById("otp-submit").style.display = "block";
    }
</script>
</html>