<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Login</a>
    <h2>Register</h2>
    <form method="POST" action="/user/register">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" pattern="[a-zA-Z]{ 4,}" title="Enter Valid Name" required/>
      <label for="age">Age</label>
      <input type="text" name="age" id="age" required/>
      {{!-- <label for="gender">Gender</label>
      <input type="text" name="gender" id="gender"required /> --}}
      <select name="gender" id="gender" aria-label="Default select example">
        <option selected >Gender</option>
        <option value="m">male</option>
        <option value="f">female</option>
        <option value="o">other</option>
      </select>
      <label for="pno">Phone Number</label>
      <input type="text" name="pno" id="pno" required/>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" required/>
      <label for="password">Password</label>
      <input type="text" name="password" id="password" required/>
      <button>Register</button>
    </form>
  </body>
</html>