<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Player</title>
</head>
<body>
    <form method="get" action="/user/search-player-detail">
        <h2>Search Player</h2>

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter Username Here"/>
            <button type="submit">Search</button>
    </form>
</body>
</html>